<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    {% extends "layout.html" %}
    {% block content %}
    <h2>Submit an album review here!</h2>
    <form action="{{ url_for('viewalbums') }}" method="post">
        <label for="album">Album:</label>
        <input type="text" name="album" /><br />
        <label for="artist">Artist:</label>
        <input type="text" name="artist" /><br />
        <label for="release">Release Date:</label>
        <input type="text" name="release" /><br />
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    {% endblock %}
</body>
</html>